<p>Pour commencer, découvrez le sujet de l'inclusivité numérique en répondant à un quiz.<br>
    À tour de rôle, chaque joueurlit à voix haute la question inscrite sur une carte.<br>
    Tous les participants peuvent tenter de répondre à la question le plus rapidement possible. <br>
    Faites deux tours; une fois que tous les participants ont lus deux fois, chaque joueur compte le nombre de cartes qu'il a remportées. Le joueur qui possède le plus grand nombre de cartes à la fin du quiz est déclaré vainqueur.<br>
    Cet échauffement vous permet d'évaluer les connaissances du groupe sur l'inclusion numérique et d'identifier la répartition des savoirs entre les participants.<br>
    Si vous en ressentez le besoin après cet échauffement, vous pouvez consulter l'annexe de ce site pour en savoir plus sur l'inclusion et l'accessibilité numérique.<br>
    <button (click)="continuer()">Continuer</button></p>
