<div class="rules">
    <div class="container">
    <h1>Inclusif, le jeu</h1>
    <h3>Quiz</h3>
        <p>Pour commencer, découvrez le sujet de l'inclusivité numérique en répondant à un quiz.</p>
        <p>Cet échauffement vous permet d'évaluer les connaissances du groupe sur l'inclusion numérique et d'identifier la répartition des savoirs entre les participants.</p>
        <p>Si vous en ressentez le besoin après cet échauffement, vous pouvez consulter l'annexe de ce site pour en savoir plus sur l'inclusion et l'accessibilité numérique.</p>
    </div>
</div>
<app-action-bar [buttons]="actionButtons"></app-action-bar>