<p>Le but de l'étape d'analyse est de vous permettre d'évaluer l'inclusivité globale de votre projet ou service numérique.
    Prenez le plateau et déroulez-le au centre de la table. Le plateau est divisé en 12 catégories d'analyse,
    réparties en 5 grands thèmes. Prenez-en connaissance.
    Votre objectif, à cette étape, est de définir si, pour chacune des 12 catégories d'analyse, votre projet ou service numérique respecte les grands principes d'inclusivité.
    Prenez le carnet d'analyse ainsi que les jetons oui/non. Chaque page du carnet correspond à une catégorie d'analyse. Pour chaque page, répondez à la question qui vous est posée, puis:
    • Placez un jeton non si la réponse est négative ou partielle.
    • Placez un jeton oui si la réponse est positive, ou si la catégorie ne concerne pas votre projet ou service numérique.
    •
    Dans le cas où la question ne vous évoque rien, placez le jeton non.
    À la fin de cette étape, vous aurez une vision d'ensemble sur l'inclusivité de votre projet ou service.
    <br>
    <button (click)="continuer()">Continuer</button></p>
