<div>
  @if (questionNumber === 0) {
    <h1>Quiz inclusivité</h1>
    <p>Bienvenue sur le Quiz Inclusivité de la Métropole de Lyon.</p>
    <p>Concevons nos services numériques pour tout le monde !</p>
    <button (click)="start(1)">Commençons (1 question par thème)</button>
    <button (click)="start(2)">Commençons (2 question par thème)</button>
    <button (click)="start(3)">Commençons (3 question par thème)</button>
  } @else if (hasEnded) {
    <h3>Bien joué !</h3>
    <p>Vous avez fini votre salve de question, mais il en reste encore.</p>
    <p>Score : {{ scoreService.score }} / {{ questionNumber }}</p>
    <button (click)="goToBegining()">
      Commencer une nouvelle série de questions ?
    </button>
  } @else {
    <router-outlet></router-outlet>
  }
</div>
