<div>
  @if (questionNumber === 0) {
    <h1>Quiz inclusivité</h1>
    <p>Bienvenue sur le Quiz Inclusivité de la Métropole de Lyon.</p>
    <p>Concevons nos services numériques pour tout le monde !</p>
    <button
      (click)="adjustNumberOfQuestions(-1)"
      [disabled]="iNumberOfQuestions == 0"
    >
      <
    </button>
    Nombre de questions :
    {{ numberOfQuestionsPerTopic[iNumberOfQuestions] * numberOfTopics }}
    <button
      (click)="adjustNumberOfQuestions(1)"
      [disabled]="iNumberOfQuestions == numberOfQuestionsPerTopic.length - 1"
    >
      >
    </button>
    <button (click)="start()">Commencer</button>
  } @else if (hasEnded) {
    <h3>Bien joué !</h3>
    <p>Vous avez fini votre salve de question, mais il en reste encore.</p>
    <p>Score : {{ scoreService.score }} / {{ questionNumber }}</p>
    <button (click)="goToBegining()">
      Commencer une nouvelle série de questions ?
    </button>
  } @else {
    <router-outlet></router-outlet>
  }
</div>
