[submodule "Jeu"]
	path = Jeu
	url = https://github.com/foucblg/Jeu.git
[submodule "Quiz"]
	path = Quiz
	url = https://github.com/foucblg/Quiz.git
[submodule "Auto-evaluation"]
	path = Auto-evaluation
	url = https://github.com/foucblg/Auto-evaluation.git
