<p>Vous avez réalisé une première évaluation de votre projet ou service numérique: à présent, choisissez les solutions concrètes à mettre en place pour chaque catégorie d'analyse jugée peu ou pas inclusive.
    Choisissez la première catégorie sur laquelle vous avez placé un pion non, et prenez les cartes solutions correspondantes. Chaque carte présente une solution concrète à mettre en œuvre.
    Lisez attentivement les cartes, et placez celles que vous choisissez de mettre en œuvre en dessous de la catégorie correspondante.
    Faites la même chose pour chaque catégorie du plateau. À la fin de cette étape, vous obtenez une liste de solutions concrètes à mettre en œuvre pour rendre votre projet ou service numérique plus inclusif.
    Développement.<br>
    <button (click)="continuer()">Continuer</button></p>
