<p>Vous avez désormais une liste de solutions à mettre en place. Vous pouvez les attribuer aux membres de l'équipe.
    Chaque participant choisit un jeton pour le représenter.
    Revenez sur chaque solution et décidez ensemble quel membre de votre équipe devra la mettre en place. Sur chaque carte solution, placez le jeton représentant le membre de l'équipe qui doit la réaliser.
    À la fin de cette étape, vous obtenez une liste de choses à faire pour chaque membre de votre équipe.<br>
    <button (click)="continuer()">Continuer</button></p>
