<div>Présentation du jeu<br>
L'inclusion numérique est une composante majeure de toute politique ou stratégie numérique.<br>
Elle permet de prendre en compte la diversité et les besoins des utilisateurs et utilisatrices des services numériques: sites web, applications mobiles, logiciels professionnels...<br>
Un des leviers de l'inclusion numérique est de rendre inclusifs les services numériques, c'est à dire accessibles et utilisables par toutes et tous.<br>
La Métropole de Lyon, dans sa volonté d'améliorer l'inclusivité de ses services numériques, a conçu ce jeu pour les équipes conceptrices, gestionnaires de contenus et en charge de la communication.<br>
Remarque: Les ressources ou exemples cités dans ce jeu n'engagent pas la Métropole de Lyon et n'impliquent pas son soutien envers les structures citées. Ces ressources ou exemples sont accessibles librement et ne servent qu'à illustrer les bonnes pratiques proposées.<br>
<button (click)="continuer()">Continuer</button>
</div>