<div>
  <h1>Quiz</h1>
  <h2>Concevons nos services numériques pour tout le monde</h2>
  <p>Bienvenue sur le quiz du jeu Inclusif, le jeu.</p>
  <p>
    Ce quiz vous permet d'aborder de manière ludique les problèmes liés à
    l'inclusivité.
  </p>
</div>
<p-divider />
<div>
  <div class="flex flex-wrap gap-4">
    <p class="flex m-12 text-red-500">Nombre de questions :</p>
    <p-button
      class="flex"
      (click)="adjustNumberOfQuestions(-1)"
      [disabled]="iNumberOfQuestions == 0"
    >
      -
    </p-button>
    <p class="flex">
      {{
        possibleNumberOfQuestionsPerTopic[iNumberOfQuestions] * numberOfTopics
      }}
    </p>
    <p-button
      class="flex"
      (click)="adjustNumberOfQuestions(1)"
      [disabled]="
        iNumberOfQuestions == possibleNumberOfQuestionsPerTopic.length - 1
      "
    >
      +
    </p-button>
  </div>
  <p-button
    (click)="
      progressService.start(
        possibleNumberOfQuestionsPerTopic[iNumberOfQuestions]
      )
    "
  >
    Commencer
  </p-button>
</div>
