.progress {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  column-gap: 2%;
  row-gap: 0%;
  align-items: center;
  color: var(--p-primary-500);
}

.progress-bar {
  --p-progressbar-label-font-size: 0;
  --p-progressbar-height: 1vh;
}

.question-text {
  grid-column-start: 2;
  padding: 0 0 0 2%;
  margin: 0;
}

.divider {
  width: 80%;
  margin: auto;
}

.button {
}

.quiz-card-div {
  height: 70%;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

:host {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16px;
  justify-content: center;
}
