<div>
  @if (progressService.questionNumber() === 0) {
    <app-quiz-homepage></app-quiz-homepage>
  } @else if (progressService.hasEnded()) {
    <h3>Bien joué !</h3>
    <p>Vous avez fini votre salve de question, mais il en reste encore.</p>
    <p>
      Score : {{ progressService.score() }} /
      {{ progressService.questionNumber() }}
    </p>
    <p-button (click)="progressService.goToBegining()">
      Commencer une nouvelle série de questions ?
    </p-button>
  } @else {
    <div class="progress">
      <p class="question-text">
        {{ "Question " + progressService.questionNumber() }}
      </p>
      <p>{{ progressService.progressRatio() + " %" }}</p>
      <p-progressbar
        class="progress-bar"
        [value]="progressService.progressRatio()"
      />
    </div>
    <app-quiz-card></app-quiz-card>
    @if (!progressService.answered()) {
      <p-button (click)="quizCard()?.answer()"> Répondre </p-button>
    } @else {
      <p-button (click)="progressService.goToNext()"> Suivant </p-button>
    }
  }
</div>
