<div>
  @if (progressService.questionNumber() === 0) {
    <h1>Quiz inclusivité</h1>
    <p>Bienvenue sur le Quiz Inclusivité de la Métropole de Lyon.</p>
    <p>Concevons nos services numériques pour tout le monde !</p>
    <p-button
      (click)="adjustNumberOfQuestions(-1)"
      [disabled]="iNumberOfQuestions == 0"
    >
      <
    </p-button>
    Nombre de questions :
    {{ possibleNumberOfQuestionsPerTopic[iNumberOfQuestions] * numberOfTopics }}
    <button
      (click)="adjustNumberOfQuestions(1)"
      [disabled]="
        iNumberOfQuestions == possibleNumberOfQuestionsPerTopic.length - 1
      "
    >
      >
    </button>
    <button
      (click)="
        progressService.start(
          possibleNumberOfQuestionsPerTopic[iNumberOfQuestions]
        )
      "
    >
      Commencer
    </button>
  } @else if (progressService.hasEnded()) {
    <h3>Bien joué !</h3>
    <p>Vous avez fini votre salve de question, mais il en reste encore.</p>
    <p>
      Score : {{ progressService.score() }} /
      {{ progressService.questionNumber() }}
    </p>
    <button (click)="progressService.goToBegining()">
      Commencer une nouvelle série de questions ?
    </button>
  } @else {
    <p>
      {{ progressService.progressRatio() | percent }}
    </p>
    <div class="progress-bar">
      <div
        class="progress-bar-fill"
        [ngStyle]="{
          'width.%': progressService.progressRatio() * 100,
        }"
      ></div>
    </div>
    <router-outlet></router-outlet>
  }
</div>
