<div>
  @if (answered === false && answerForm != undefined) {
    <form [formGroup]="answerForm">
      @if (quiz_segment?.question_type === "QCM" ) {
      @for (choice of quiz_segment?.choices; track $index) {
        <label>
          <input type="checkbox" [formControlName]="$index" />
          {{ choice }}
        </label>
        <br />
      }
    } @else if (quiz_segment?.question_type === "QCU") {
        @for (choice of quiz_segment?.choices; track $index) {
          <label>
            <input type="radio" [value]="$index" [formControlName]="'QCU'"/>
            {{ choice }}
          </label>
          <br />
        }
    } @else if (quiz_segment?.question_type === "Vrai/Faux") {
      <label>
        <input type="radio" [value]="true" [formControlName]="'Vrai/Faux'"/>
        Vrai
      </label>
      <label>
        <input type="radio" [value]="false" [formControlName]="'Vrai/Faux'"/>
        Faux
      </label>
    }
    </form>
  } 

  @else {
    <p>Not QCM</p>
  }
</div>
