@if (answered === false && answerForm != undefined) {
  <form [formGroup]="answerForm" class="answer-box">
    @if (quiz_segment?.question_type === "QCM") {
      <p>Plusieurs réponses possibles</p>
      @for (choice of quiz_segment?.possible_answers; track $index) {
        <div class="answer-choice">
          <label>
            <input type="checkbox" [formControlName]="$index" />
            {{ choice }}
          </label>
        </div>
      }
    } @else if (quiz_segment?.question_type === "QCU") {
      <p>Une seule réponse possible</p>
      @for (choice of quiz_segment?.possible_answers; track $index) {
        <div class="answer-choice">
          <label>
            <input type="radio" [value]="$index" [formControlName]="'QCU'" />
            {{ choice }}
          </label>
        </div>
      }
    }
  </form>
} @else {
  <p>Not QCM</p>
}
