<div class="navigation-container">

  <!-- Theme Indicator -->
  <div class="theme-indicator">
    <app-theme-indicator [cat]="cat"></app-theme-indicator>
  </div>

  <!-- Back Button -->
  <div class="button-container">
    <app-navigation-button-solutions 
      [carte_suivante]="false" 
      [currentNumber]="currentNumber"
      (cardChange)="currentNumber = $event"
      (catChange)="cat = $event">
    </app-navigation-button-solutions>
  </div>
  <!-- Card Number Display -->
  <div class="card-display">
    <app-navigation-card-solutions [card_number]="currentNumber"></app-navigation-card-solutions>
  </div>

  <!-- Next Button -->
  <div class="button-container">
    <app-navigation-button-solutions 
      [carte_suivante]="true" 
      [currentNumber]="currentNumber"
      (cardChange)="currentNumber = $event"
      (catChange)="cat = $event">
    </app-navigation-button-solutions>
  </div>

</div>
