<div class="rules-analysis">
    <div class="container">
    <h1>Inclusif, le jeu</h1>
    <h3>Étape d'analyse</h3>
        <p>Le but de l'étape d'analyse est de vous permettre d'évaluer l'inclusivité globale de votre projet ou service numérique.</p>
        <p>Pour ce faire, les questions seront réparties en 5 grands thèmes et 12 catégories d'analyse.</p>
        <p>Votre objectif, à cette étape, est de définir si, pour chacune des 12 catégories d'analyse, votre projet ou service numérique respecte les grands principes d'inclusivité.</p>
        <p>Dans le cas où la question ne vous évoque rien, répondez non.</p>
        <p>À la fin de cette étape, vous aurez une vision d'ensemble sur l'inclusivité de votre projet ou service.</p>
    </div>
</div>
<app-action-bar [buttons]="actionButtons"></app-action-bar>
