<div class="theme">
  <span>Thème : {{ progressService.theme() }}</span>
</div>
<h1 class="question">{{ quiz_segment()?.question }}</h1>
@if (!progressService.answered() && quiz_segment() != undefined) {
  <app-choice-box [answered]="answered"></app-choice-box>
} @else {
  <app-answer-box></app-answer-box>
}
<p-dialog
  header="Choisissez au moins une option"
  [modal]="true"
  [(visible)]="dialogVisible"
>
  <div>
    <p-button label="Ok" (click)="dialogVisible = false" />
  </div>
</p-dialog>
