<div class="card">
  <div class="theme">
    <span>{{ theme }}</span>
  </div>
  <h1>{{ quiz_segment?.question }}</h1>
  @if (!progressService.answered() && quiz_segment != undefined) {
    <div class="main-content-box">
      <app-answer-box
        [quiz_segment]="quiz_segment"
        [answered]="answered"
        [answerForm]="answerForm"
      ></app-answer-box>
    </div>
    <div class="next">
      <button class="button-4" (click)="progressService.answer(verifyAnswer())">
        Répondre
      </button>
    </div>
  } @else {
    <div class="main-content-box">
      @if (verifyAnswer() === answerType.True) {
        <h2 class="result">Bravo !</h2>
      } @else {
        <h2 class="result">Dommage !</h2>
      }
      <p class="explication">
        {{ quiz_segment?.explanation }}
      </p>
    </div>
    <div class="next">
      <button class="next button-4" (click)="progressService.goToNext()">
        Suivant
      </button>
    </div>
  }
</div>
