:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 600px;
  margin: 0 auto;
  gap: 32px;
  align-items: center;
}

.theme {
  justify-self: start;
  background-color: var(--p-primary-100);
  color: var(--p-primary-500);
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.question {
  text-align: center;
}

.verified-box {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.verified-box h2 {
  text-align: center;
}
