<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">

    <div class="theme-indicator" style="margin-right: 10px;">
        <app-theme-indicator [catNumber]="catNumber">
        </app-theme-indicator>
      </div>

    <!-- Back Button -->
    <div class="bouton-back" style="margin-right: 10px;">
      <app-navigbutton 
        [avance]="false" 
        [currentNumber]="currentNumber"
        (cardChange)="currentNumber = $event">
      </app-navigbutton>
    </div>
  
    <!-- Card Number Display -->
    <p>Carte numéro {{ currentNumber }}</p>
  
    <!-- Next Button -->
    <div class="bouton-next" style="margin-left: 10px;">
      <app-navigbutton 
        [avance]="true" 
        [currentNumber]="currentNumber"
        (cardChange)="currentNumber = $event">
      </app-navigbutton>
    </div>
  </div>
  