<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div formArrayName="users">
    @for (user of users.controls; track $index) {
      <div [formGroupName]="$index">
        @if ($last) {
          <h3>Nouvel invité</h3>
        } @else {
          <h3>Invité #{{ $index + 1 }}</h3>
        }

        <div>
          <label>Nom:</label>
          <input formControlName="name" />
        </div>

        <div>
          <label>Email:</label>
          <input formControlName="email" />
        </div>
        @if ($last) {
          <button type="submit" [disabled]="!eventForm.valid">Ajouter</button>
        } @else {
          <button type="button" (click)="removeUser($index)">Supprimer</button>
        }
      </div>
    }
  </div>
</form>
