<div class="navigation-container">

    <!-- Theme Indicator -->
    <div class="theme-indicator">
      <app-theme-indicator [cat]="cat"></app-theme-indicator>
    </div>
  
    <!-- Back Button -->
    <div class="button-container">
      <app-navigation-button 
        [avance]="false" 
        [currentNumber]="currentNumber"
        (cardChange)="currentNumber = $event"
        (catChange)="cat = $event">
      </app-navigation-button>
    </div>
  
    <!-- Card Number Display -->
    <div class="card-display">
      <app-navigation-card [card_number]="currentNumber"></app-navigation-card>
    </div>
  
    <!-- Next Button -->
    <div class="button-container">
      <app-navigation-button 
        [avance]="true" 
        [currentNumber]="currentNumber"
        (cardChange)="currentNumber = $event"
        (catChange)="cat = $event">
      </app-navigation-button>
    </div>
  
  </div>
