<div class="presentation-section">
  <div class="container">
    <h1>Inclusif, le jeu</h1>
    <h2>Concevons nos services numériques pour tout le monde !</h2>
  </div>
    <p-image
      src="images/banner.png"
      alt="Image de présentation du jeu"
      [imageStyle]="{ objectFit: 'contain' }"
      width="80%"
    />
    <div class="container">
      <p>Bienvenue sur Inclusif, le jeu.</p>
      <p>Ce jeu vous permet d’aborder de manière ludique les problèmes liés à l’inclusivité</p>
    </div>
  </div>
<app-action-bar [buttons]="actionButtons"></app-action-bar>

