<div>
    <p>Users</p>
    <button (click)="addUser()">Add User</button>
</div>
  
  <div>
    <form [formGroup]="editUserForm">
    <table>
      <tbody>
        @for (user of service.getUsers(); track $index)
        {
          @if (is_editing_user && user == user_to_edit)
          {
          <tr>
            <td><input type="text" formControlName="name"></td>
            <td><input type="text" formControlName="email"></td>
            <td>
              <button (click)="saveEditUser(user)" [disabled]="editUserForm.invalid">Save</button>
              <button (click)="cancelEditUser()">Cancel</button>
            </td>
          </tr>
          @if (editUserForm.get('name')?.invalid && editUserForm.get('name')?.touched) {
            @if (editUserForm.get('email')?.invalid && editUserForm.get('email')?.touched) {
              <tr><td><div><small class="error">Valid name is required.</small></div></td><td><div><small class="error">Valid email is required.</small></div></td></tr>
            }
            @else {
              <tr><td><div><small class="error">Valid name is required.</small></div></td></tr>
            }
          }
          @if (editUserForm.get('email')?.invalid && editUserForm.get('name')?.valid && editUserForm.get('email')?.touched) {
            <tr><td><td><div><small class="error">Valid email is required.</small></div></td></tr>
          }}
          
          @else
          {
            <tr>
              <td><input type="text" [value]="user.name" disabled></td>
              <td><input type="text" [value]="user.email" disabled></td>
              <td>
                <button (click)="editUser(user)">Edit</button>
                <button (click)="deleteUser(user)">Delete</button>
              </td>
            </tr>
          }
        }
      </tbody>
      </table>
    </form>
        @if (is_adding_user)
        {
          <form [formGroup]="addUserForm">
            <table>
              <tbody>
            <tr>
            <td><input type="text" formControlName="name" placeholder="Enter name">
            </td>
            <td><input type="text" formControlName="email" placeholder="Enter email">
          </td>
            <td>
              <button (click)="saveUser()" [disabled]="addUserForm.invalid">Save</button>
              <button (click)="cancelAddUser()">Cancel</button>
            </td>
          </tr>
          @if (addUserForm.get('name')?.invalid && addUserForm.get('name')?.touched) {
            @if (addUserForm.get('email')?.invalid && addUserForm.get('email')?.touched) {
              <tr><td><div><small class="error">Valid name is required.</small></div></td><td><div><small class="error">Valid email is required.</small></div></td></tr>
            }
            @else {
              <tr><td><div><small class="error">Valid name is required.</small></div></td></tr>
            }
          }
          @if (addUserForm.get('email')?.invalid && addUserForm.get('name')?.valid && addUserForm.get('email')?.touched) {
            <tr><td><td><div><small class="error">Valid email is required.</small></div></td></tr>
          }
        </tbody>
        </table>
        </form>
      }
  </div>