<div class="center">
    <p>Inscriptions des joueurs</p>
    <p>Inscrivez les joueurs pour permettre une répartition des tâches à accomplir pour rendre votre site inclusif après le jeu.</p>
    
    @for (user of service.getUsers(); track $index){
      <div class="rounded-container">
        @if (is_editing_user && user == user_to_edit){
          <form [formGroup]="editUserForm">
            <p-floatlabel variant="on">
              <input pInputText formControlName="name">
              <label for="on_label">Nom</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
              <input pInputText formControlName="email">
              <label for="on_label">Email</label>
            </p-floatlabel>
          </form>
          <div class="spacer"></div>
          <div class="align_right">
            <p-button (click)="saveEditUser(user)">Enregistrer</p-button>
            <p-button (click)="cancelEditUser()">Cancel</p-button>
          </div>
        }
        @else{
          <div class="test">
            <form [formGroup]="editUserForm">
              <p-floatlabel variant="on">
                <input pInputText [value]="user.name" disabled>
                <label for="on_label">Nom</label>
              </p-floatlabel>
              <p-floatlabel variant="on">
                <input pInputText [value]="user.email" disabled>
                <label for="on_label">Email</label>
              </p-floatlabel>
            </form>
          </div>
          <div class="spacer"></div>
          <div class="align_right">
            <p-button (click)="editUser(user)">Edit</p-button>
            <p-button (click)="deleteUser(user)">Delete</p-button>
          </div>
        }
      </div>
    }

    @if (is_adding_user){
        <div class="rounded-container">
          <form [formGroup]="addUserForm">
            <p-floatlabel variant="on">
              <input pInputText formControlName="name">
              <label for="on_label">Nom</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
              <input pInputText formControlName="email">
              <label for="on_label">Email</label>
            </p-floatlabel>
          </form>
          <div class="spacer"></div>
          <div class="align_right">
            <p-button (click)="saveUser()">Enregistrer</p-button>
            <p-button (click)="cancelAddUser()">Cancel</p-button>
          </div>
        </div>
    }
    <p-button (click)="addUser()">+</p-button>
</div>
  