<div class="card-container">
  @if (Navdata['data'][card_number]) { 
      @let card = Navdata['data'][card_number];

      <h2 class="category-title">{{ card.categorie }}</h2>
      <h3 class="question-title">{{ card.nom }}</h3>
      <p class="question-text">{{ card.question }}</p>

      <div class="button-container">
          <button 
              (click)="onAnswer(true)" 
              [disabled]="card_answer" 
              [class]="card_answer ? 'green-card-selected' : 'green-card-nselected'"
              class="yes-button">
              Oui !
          </button>

          <button 
              (click)="onAnswer(false)" 
              [class]="card_answer ? 'red-card-nselected' : 'red-card-selected'" 
              [disabled]="!card_answer"
              class="no-button">
              Pas tout à fait
          </button>
      </div>
  }
</div>
