<h1>Question number {{ questionNumber }}</h1>
@if (!answered) {
<h2>{{ question.question }}</h2>
<form [formGroup]="answerForm">
    <ul>
        <li>
            <input type="radio" formControlName="answer" [value]="true" /> Vrai
        </li>
        <li>
            <input type="radio" formControlName="answer" [value]="false" /> Faux
        </li>
    </ul>
    <button (click)="onAnswer()">Submit answer</button>
</form>
} @else {
<div [ngStyle]="{'background': (answer === question.trueAnswer) ? 'lightgreen' : 'red'}">
    @if (answer === question.trueAnswer) {
    <h2>Bien joué</h2>
    } @else {
    <h2>Dommage</h2>
    }
    <h4>La vraie réponse était {{ question.trueAnswer ? "Vrai": "Faux" }}</h4>
    <p>{{ question.answerText }}</p>
    <br>
</div>
}