<div class="card">
  <div class="theme">
    <span>{{ theme }}</span>
  </div>
  <h1>{{ quiz_segment?.question }}</h1>
  @if (!answered) {
    <div class="main-content-box">
      <app-answer-box
        [quiz_segment]="quiz_segment"
        [answered]="answered"
      ></app-answer-box>
    </div>
    <div class="next">
      <button (click)="answer()">Répondre</button>
    </div>
  } @else {
    <div class="main-content-box">
      {{ quiz_segment?.explication }}
      {{ quiz_segment?.source }}
    </div>
    <div class="next">
      <button class="next" (click)="goToNext()">Suivant</button>
    </div>
  }
</div>
