<div class="card">
  <div class="theme">
    <span>{{ theme }}</span>
  </div>
  <h1>{{ quiz_segment?.question }}</h1>
  @if (!answered && quiz_segment != undefined) {
    <div class="main-content-box">
      <app-answer-box
        [quiz_segment]="quiz_segment"
        [answered]="answered"
        [answerForm]="answerForm"
      ></app-answer-box>
    </div>
    <div class="next">
      <button (click)="answer()">Répondre</button>
    </div>
  } @else {
    <div class="main-content-box">
      @if (verifyAnswer()) {
        <h2 class="result">Bravo !</h2>
      } @else {
        <h2 class="result">Dommage !</h2>
      }
      <p class="explication">
        {{ quiz_segment?.explication }}
      </p>
      <!--
    <a
        class="source"
        [href]="'https://' + quiz_segment?.source"
        target="_blank"
      >
        {{ quiz_segment?.source }}
      </a>
-->
    </div>
    <div class="next">
      <button class="next" (click)="goToNext()">Suivant</button>
    </div>
  }
</div>
